<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}">
</head>
<body>

    <h1 class="heading">Adding CSS,JS and Images</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ad adipisci dignissimos
      perspiciatis quia sapiente tempora tenetur totam voluptatibus! Aperiam at atque consequatur consequuntur
      dignissimos eius esse fuga ipsa magni modi placeat possimus, praesentium qui sed ut voluptate voluptatibus.
      Consectetur cumque delectus, ducimus enim esse itaque laudantium nobis. Obcaecati?</p>


</body>
</html>